<div class="intro-hed">An Introduction from Michael Bauer</div>

<p class="text">So many high-quality restaurants have opened in recent years that it feels as if we’re in the golden age of dining. The downside: It can take a lot of gold to eat out these days.</p>
<p class="text">Last year I complained about the $30 main course; this year that’s quickly become a standard, and even at some neighborhood restaurants, the $40 dish is showing up on the menu. </p>
<p class="text">Yet part of what sets the Bay Area apart is that, despite the price creep, it is still quite possible to eat great food at all price points. To offer relief from the $100 dinner, this year I’ve included some less-expensive options, places I go on my own dime. After all, even if we can afford it, we don’t want to go to "the French Laundry every night. </p>
<p class="text">The places I’ve included have as much integrity as restaurants like Benu and Boulevard. B Patisserie and its cousin, B on the Go, serve what are among the best pastries and sandwiches in the Bay Area. Then there’s La Taqueria, where the carnitas burrito has not been surpassed in 40 years. Souvla offers amazing rotisserie meats wrapped in flatbread, and Vik’s Chaat can’t be beat for its take on Indian street food. To me these are all destinations — places I’d happily travel to. </p>
<p class="text">It pains me a little more every year to remove some restaurants that are still on top, but they had to be nixed to make room for others. This year, the 22nd year of the guide, I added 22 new restaurants, the most since 2005 when 25 were added. All told, I’m buoyed by the realization that there’s a direct correlation between the difficulty I have in making decisions and the continually rising quality of the dining scene. </p>
<p class="text">I hope you find these restaurants as worthy as I do. Either way, I look forward to your feedback.</p>

<div class="intro-byline">&mdash; Michael Bauer <a href = "https://twitter.com/michaelbauer1" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href = "mailto:mbauer@sfchronicle.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></div>

<div class="intro-hed">Methodology</div>

<div class="text">Guide to the noise rating:
  <ul>
    <li><i class="fa fa-bell" aria-hidden="true"></i>  = Pleasantly quiet (less than 65 decibels)</li>
    <li><i class="fa fa-bell" aria-hidden="true"></i><i class="fa fa-bell" aria-hidden="true"></i>  = Can talk easily (65-70)</li>
    <li><i class="fa fa-bell" aria-hidden="true"></i><i class="fa fa-bell" aria-hidden="true"></i><i class="fa fa-bell" aria-hidden="true"></i>  = Talking normally gets difficult (70-75)</li>
    <li><i class="fa fa-bell" aria-hidden="true"></i><i class="fa fa-bell" aria-hidden="true"></i><i class="fa fa-bell" aria-hidden="true"></i><i class="fa fa-bell" aria-hidden="true"></i>  = Can talk only in raised voices (75-80)</li>
    <li><i class="fa fa-bomb" aria-hidden="true"></i>  = Too noisy for normal conversation (80+)</li>
  </ul>
</div>

<div class="text">Guide to the price rating:
  <ul>
    <li>$ = Inexpensive (main course <$15)</li>
    <li>$$ = Moderate (main course $16-20)</li>
    <li>$$$ = Expensive (main course $26-35)</li>
    <li>$$$$ = Very expensive (main course $35+)</li>
    <li>Very pricey = (prix fixe with full cost $200+)</li>
  </ul>
  Prix fixe and small plate menus are analyzed for equivalency.
</div>

<div class="intro-hed">Credits</div>

<div class="entry">Editor at large / Restaurant critic
  <div class="entry-name">Michael Bauer  &bull; <a href="mailto:mbauer@sfchronicle.com">mbauer@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/michaelbauer1" target="_blank">@michaelbauer1</a></div>
</div>

<div class="entry">Research
  <div class="entry-name">Lynne Char Bennett</div>
</div>

<div class="entry">Photo editor
  <div class="entry-name">Russell Yip  &bull; <a href="mailto:ryip@sfchronicle.com">ryip@sfchronicle.com</a></div>
</div>

<div class="entry">Developers
  <div class="entry-name">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
  <div class="entry-name">Lucio Villa  &bull; <a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/luciovilla" target="_blank">@luciovilla</a></div>
</div>

<div class="entry">Designer
  <div class="entry-name">Lucio Villa  &bull; <a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/luciovilla" target="_blank">@luciovilla</a></div>
</div>

<div class="entry">Editors
  <div class="entry-name">Kitty Morgan  &bull; <a href="mailto:kmorgan@sfchronicle.com">kmorgan@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/Kitty_Morgan" target="_blank">@Kitty_Morgan</a></div>
</div>

<div class="entry">Copy editor
  <div class="entry-name">Bernadette Fay  &bull; <a href="mailto:bfay@sfchronicle.com">bfay@sfchronicle.com</a></div>
</div>

<div class="entry bold">Have feedback about this project?<br>E-mail The Chronicle's Food team at <br><a href="mailto:food@sfchronicle.com?subject=Top 100 Feedback">food@sfchronicle.com</a>.</div>

<div class="entry">Full disclosure:
  <div class="text">My partner is involved with the IfOnly website, which features chefs and owners from a number of Bay Area restaurants. Those included in the Top 100 are A16, Bar Agricole, Bottega, Camino, Chez Panisse, La Ciccia, Frances, Gary Danko, Hawker Fare, Marlowe, Mourad, Park Tavern, Progress, Octavia SPQR, Wayfare Tavern.</div>
</div>
