<header>
  <div class="navigation">

    <a href="http://www.sfchronicle.com" target="_blank">
      <div class="logo-link ">
          <img class="desk-logo" src="../assets/logos/sf_logo_black.png"></img>
          <img class="mobile-logo" src="../assets/logos/sf_logo_black.png"></img>
        </div>
    </a>

    <div class="link social">
      <!-- Gigya signin -->
      <div class="treg-is-gigya gigya_menu" >
        <div class="gya-title expandable treg-conditional treg-not-logged-in"><span class="login-gya-btn">Log In</span></div>
        <div class="gya-title expandable treg-conditional treg-logged-in"><span></span></div>
        <div class="gya-content expandable">
          <div class="treg-gya-login-widget"></div>
        </div> <!-- /.gya-content -->
      </div>
    </div>

  </div>
</header>
