<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= t.include("partials/_paywall.html") %>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>


<div id="container">
  <div id="left-nav">
    <div id="header">
      <div id="cover-wrapper">
        <div class="cover"></div>
        <div class="sf-logo"><img src="./assets/logos/sf_logo_black.png"></div>
        <div class="top100-logo">
         <h1><span class="top100">Top 100 </span><span class="rest">RESTAURANTS </span><span class="year">2017</span></h1>
         <%= t.include("partials/_social.html") %>
        </div>
        <div class="intro-text">
          <p>Whether they cost $10 or $500 a person, I’ve visited each of these restaurants at least three times — and in most cases, many more. Each year I revisit the restaurants on the previous year’s list and then add contenders from my weekly reviews and updates.</p>
        </div>
      </div>

    
      <div class="search-container">
        <span class="search"><i class="fa fa-search" aria-hidden="true"></i></span>
        <input class="input awesomeplete" list="restaurantlist" id="searchrestaurants" type="text" placeholder='Try "French" or "Oakland" ...'></input>
        <datalist id="restaurantlist">
          <% json.info.forEach(function(r) { %>
            <% var restaurantID = r.Name.toLowerCase().replace(/ /g,'').replace(/'/g,'').replace(/\./g,''); %>
          	<option id="select<%=restaurantID%>"><%= r.Name %> | <%= r.Cuisine %> | <%= r.Region %> | <%= r.SubRegion %> | <a href="tel:<%= r.Phone %>"><%= r.Phone %></a> </option>
          <% }); %>
        </datalist>
      </div>
      <div class="filters-container">
        
        <div class="dropdown-container" id="choose-neighborhood">
          <select name="select" id="select-neighborhood">
            <option value='all' class="option">Neighborhoods</option>
          </select>
        </div>
        <div class="dropdown-container" id="choose-cuisine">
          <select name="select" id="select-cuisine">
            <option value='all' class="option">Cuisines</option>
          </select>
        </div>
        <div class="dropdown-container" id="choose-prices">
          <select name="select" id="select-price">
            <option value='all' class="option">Prices</option>
            <option value='onedollar' class="option">$</option>
            <option value='twodollar' class="option">$$</option>
            <option value='threedollar' class="option">$$$</option>
            <option value='fourdollar' class="option">$$$$</option>
          </select>
        </div>
        <div class="dropdown-container" id="choose-noise">
          <select name="select" id="select-noise">
            <option value='all' class="option">Noise levels</option>
            <option value='onebell' class="option">&#xf0f3;</option>
            <option value='twobells' class="option">&#xf0f3; &#xf0f3;</i></option>
            <option value='threebells' class="option">&#xf0f3; &#xf0f3; &#xf0f3;</option>
            <option value='fourbells' class="option">&#xf0f3; &#xf0f3; &#xf0f3; &#xf0f3;</option>
            <option value='bomb' class="option">&#xf1e2;</option>
          </select>
        </div>

        <div class="dropdown-container" id="choose-guide">
          <select name="select" id="select-guide">
            <option value='all' class="option">Guides</option>
          </select>
        </div>
        
        <div class="button" id="nearme"><a class="link-button" href="./map/index.html" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i>Near me</a></div>

        <div class="button" id="mylist"><a class="link-button" href="./my-list/index.html" target="_blank"><i class="fa fa-star" aria-hidden="true"></i>My list</a></div>
      </div>
      <div class="login">
        <!-- Gigya signin -->
        <div class="treg-is-gigya gigya_menu" >
          <div class="gya-title expandable treg-conditional treg-not-logged-in">My list requires login.<br><span class="login-gya-btn">Log In</span></div>
          <div class="gya-title expandable treg-conditional treg-logged-in"><span></span></div>
          <div class="gya-content expandable">
            <div class="treg-gya-login-widget"></div>
          </div>
        </div>
      </div>

    </div>

    </div>
    <div id="restaurants">
      <% json.info.forEach(function(r) { %>
        <% var restaurantID = r.Name.toLowerCase().replace(/ /g,'').replace(/'/g,'').replace(/\./g,''); %>
        <% var cuisines = r.Cuisine.toLowerCase().replace(/ /g,'').replace('and',' '); %>
        <% var neighborhoods = r.SubRegion.toLowerCase().replace(/\//g, " ").replace(/ /g,''); %>
        <% var noise = r.Noise.toLowerCase().replace(/ /g,''); %>
        <% if (r.New) { var new_var = r.New.toLowerCase(); } else { var new_var = "";} %>
        <% if (r.Brunch != "No") { var brunch_var = "brunch"; } else { var brunch_var = "";} %>
        <% if (r.wcm_img){ var photos = r["wcm_img"].toString().split(" "); } else { var photos = ["12596031"] } %>
        <div class="restaurant <%=cuisines%> <%=neighborhoods%> <%=new_var%> <%=brunch_var%> <%=noise %> active" id="<%=restaurantID%>">
          <img src="http://ww2.hdnux.com/photos/54/11/64/<%= photos[0] %>/3/premium_landscape.jpg">
          <div class="name"><%= r.Name %><span class="save-restaurant" id="save<%=restaurantID%>"><i class="fa fa-star-o" aria-hidden="true"></i></div>
          <div class="info"><%= r.Cuisine %> | <%= r.SubRegion %></div>
        </div>
      <% }); %>
      <div class="search-noresults hide" id="search-noresults">No restaurants match your search. Try new search filters.</div>
    </div>
    </div>

    <script src="app.js" async></script>
      <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
