<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= t.include("partials/_paywall.html") %>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>


<div id="container">
  <div id="left-nav">
    <div id="header">
      <div id="cover-wrapper">
        <div class="cover"></div>
        <div class="sf-logo"><img src="./assets/logos/sf_logo_black.png"></div>
        <div class="top100-logo">
         <h1><span class="top100">Top 100 </span><span class="rest">RESTAURANTS </span><span class="year">2017</span></h1>
         <%= t.include("partials/_social.html") %>
        </div>

        <div class="intro-text">
          <p>Whether they cost $10 or $500 a person, I’ve visited each of these restaurants at least three times — and in most cases, many more. Each year I revisit the restaurants on the previous year’s list and then add contenders from my weekly reviews and updates.
          <span class="byline">— Michael Bauer, Food Critic</span>
          </p>
        </div>
      </div>


      <div id="search" class="search-container">
        <span class="search"><i class="fa fa-search" aria-hidden="true"></i></span>
        <input class="input" id="searchrestaurants" type="text" placeholder='Try "French" or "Oakland" ...'></input>
      </div>
      <div class="filters-container">

        <div class="dropdown-container filter" id="choose-neighborhood">
          <select name="select" id="select-neighborhood">
            <option value='all' class="option">Neighborhoods</option>
          </select>
        </div>
        <div class="dropdown-container filter" id="choose-cuisine">
          <select name="select" id="select-cuisine">
            <option value='all' class="option">Cuisines</option>
          </select>
        </div>
        <div class="dropdown-container filter" id="choose-prices">
          <select name="select" id="select-price">
            <option value='all' class="option">Prices</option>
            <option value='onedollar' class="option">$</option>
            <option value='twodollar' class="option">$$</option>
            <option value='threedollar' class="option">$$$</option>
            <option value='fourdollar' class="option">$$$$</option>
            <option value='potofgold' class="option">Pot of GOLD</option>
          </select>
        </div>
        <div class="dropdown-container filter" id="choose-noise">
          <select name="select" id="select-noise">
            <option value='all' class="option">Noise levels</option>
            <option value='onebell' class="option">&#xf0f3;</option>
            <option value='twobells' class="option">&#xf0f3; &#xf0f3;</i></option>
            <option value='threebells' class="option">&#xf0f3; &#xf0f3; &#xf0f3;</option>
            <option value='fourbells' class="option">&#xf0f3; &#xf0f3; &#xf0f3; &#xf0f3;</option>
            <option value='bomb' class="option">&#xf1e2;</option>
          </select>
        </div>

        <div class="button filter" id="new"><i class="fa fa-plus-circle" aria-hidden="true"></i>New additions</div>
        <div class="button filter" id="brunch"><i class="fa fa-coffee" aria-hidden="true"></i>Brunch spots</div>

        <div class="button filter" id="showall">Show all</div>

        <div class="button filter" id="mylist-starred"><i class="fa fa-star" aria-hidden="true"></i>My favorites</div>

        <div class="button filter" id="mylist-checked"><i class="fa fa-check-square-o" aria-hidden="true"></i>My list</div>



      </div>
      <div class="login">
        <!-- Gigya signin -->
        <div class="treg-is-gigya gigya_menu" >
          <div class="gya-title expandable treg-conditional treg-not-logged-in">My list requires login.<br><span class="login-gya-btn">Log In</span></div>
          <div class="gya-title expandable treg-conditional treg-logged-in"><span></span></div>
          <div class="gya-content expandable">
            <div class="treg-gya-login-widget"></div>
          </div>
        </div>
      </div>

    </div>

    <%= t.include("partials/_bottom-nav.html") %>

    </div>
    <div id="restaurants">
    <div class="count-results hide" id="count-results">There are 100 results.</div>
      <% json.info.forEach(function(r) { %>
        <% var restaurantID = r.Name.toLowerCase().replace(/ /g,'').replace(/'/g,'').replace(/\./g,''); %>
        <% var cuisines = r.Cuisine.toLowerCase().replace(/ /g,'').replace('and',' '); %>
        <% var regions = r.Region.toLowerCase().replace(/\//g, " ").replace(/ /g,''); %>
        <% var neighborhoods0 = r.SubRegion.toLowerCase().replace(",","/").replace(/ /g,''); %>
        <% var neighborhoods = neighborhoods0.replace(/\//g," "); %>
        <% var noise = r.Noise.toLowerCase().replace(/ /g,''); %>
        <% var price = r.PriceCategory.toLowerCase().replace(/ /g,''); %>
        <% if (r.New) { var new_var = r.New.toLowerCase(); } else { var new_var = "";} %>
        <% if (r.Brunch != "No") { var brunch_var = "brunch"; } else { var brunch_var = "";} %>
        <% if (r.wcm_img){ var photos = r["wcm_img"].toString().split(" "); } else { var photos = ["12596031"] } %>
        <div class="restaurant <%=restaurantID%> <%=cuisines%> <%=regions%> <%=neighborhoods%> <%=new_var%> <%=brunch_var%> <%=price%> <%=noise%> active" id="<%=restaurantID%>">

          <% if (json.project.production) { %><a href="/2017/top-100-restaurants/<%= r.slug %>"><% } else { %><a href="test-proj/top2017/<%= r.slug %>"><% } %>
              <img src="http://ww2.hdnux.com/photos/54/11/64/<%= photos[0] %>/3/premium_landscape.jpg">
            </a>
            <div class="name clearfix">
              <div class="rname"><%= r.Name %></div>
              <div class="favorites">
                <span class="check-restaurant" id="check<%=restaurantID%>"><i class="fa fa-square-o" aria-hidden="true"></span></i>
                <span class="save-restaurant" id="save<%=restaurantID%>"><i class="fa fa-star-o" aria-hidden="true"></i></span>
              </div>
            </div>
            <div class="info"><%= r.Cuisine %> | <%= r.SubRegion %></div>
          
        </div>
      <% }); %>
      <div class="count-results hide" id="count-results">100 result(s)</div>
      <div class="search-noresults hide" id="search-noresults">No restaurants match your search. Try new search filters.</div>

      <%= t.include("partials/_full_footer.html") %>

    </div>

    </div>

    <script>
      (function (exports) {
        'use strict';

        // http://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array
        function shuffle(array) {
          var currentIndex = array.length
            , temporaryValue
            , randomIndex
            ;

          // While there remain elements to shuffle...
          while (0 !== currentIndex) {

            // Pick a remaining element...
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;

            // And swap it with the current element.
            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
          }

          return array;
        }

        exports.knuthShuffle = shuffle;
      }('undefined' !== typeof exports && exports || 'undefined' !== typeof window && window || global));

      (function () {
        'use strict';

        var a = $(".restaurant"),
            b;

        // The shuffle modifies the original array
        // calling a.slice(0) creates a copy, which is assigned to b
        b = window.knuthShuffle(a.slice(0));
        $('.restaurant').replaceWith(b);
      }());
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
